# Info: Configuration variables for build-iso.sh
# Author: Jason Woods <jwoods@redhat.com>
# Created: 2019-02-14

# where to find/put stuff
ISO_BASEDIR="/u/RHV-H_custom"
ISO_BUILDDIR="BUILD"
ISO_IN="${ISO_BASEDIR}/RHVH-4.2-20190117.0-RHVH-x86_64-dvd1.iso"
ISO_OUT="RHVH-4.2-custom.x86_64.iso"
ISO_MNTDIR="${ISO_BASEDIR}/temp-mnt"
ISO_MODDIR="${ISO_BASEDIR}/modifications"

# these can be left auto-configured, or changed as desired
ISO_OUTDIR="${ISO_BASEDIR}/${ISO_BUILDDIR}"
ISO_OUTPUT="${ISO_BASEDIR}/${ISO_OUT}"

# string to use when outputing a note
ISO_NOTE="#-# "

